// @mixin light-theme {
//   --color-bg: #fef7dc;
//   --color-bg-2: #e6ddc6;
//   --color-1: #a19882;
// }
@mixin light-theme {
  // for bg-container
  --color-bg: linear-gradient(177deg, #4f0c8d 0%, #010101 100%);

  // for bg-card
  --color-bg-2: #44087c;

  //
  --color-1: #c808ee;

  // for text

  --color-2: #fff;

  // for btn
  --color-text: #7303c0;

  // for btn
  --color-text: #7303c0;

  // for svg
  --color-decoration-1: #94a5ac;

  // for dice
  --color-decoration-2: #fff;

  --color-decortaion-bg-active: rgb(61, 8, 71);

  // box shadow
  --color-box-shadow-glow-1: #b737d1;
  --color-box-shadow-glow-2: #b737d1;
  --color-box-shadow-glow-3: rgba(200, 8, 238, 0.281);
}

@mixin dark-theme {
  // for bg-container
  --color-bg: #1e2633;

  // for bg-card
  --color-bg-2: #333b49;

  //
  --color-1: #52fea9;

  // for text
  --color-2: #94a5ac;

  // for btn
  --color-text: #52fea9;

  // for svg
  --color-decoration-1: #94a5ac;

  // for dice
  --color-decoration-2: #1f2632;

  // bg-active
  --color-decortaion-bg-active: #156440;

  // box shadow
  --color-box-shadow-glow-1: #1d8758;
  --color-box-shadow-glow-2: #c0ffe4;
  --color-box-shadow-glow-3: #d3ffec;
}
