@import '@styles/base';

* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: var(--color-bg);

  .box {
    width: 35%;
    height: 50%;
    display: grid;
    background: var(--color-bg-2);
    border-radius: 20px;
    min-width: 300px;
    min-height: 350px;
    justify-content: center;
    align-items: center;

    .theme {
      display: inline-flex;
      position: absolute;
      z-index: 5;
      justify-self: self-end;
      align-self: flex-start;
      padding: 25px;
    }
    box-shadow:
      rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px,
      rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px,
      rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    .card {
      width: 100%;
      height: 100%;
      min-width: 300px;
      min-height: 350px;
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        color: var(--color-1);
        letter-spacing: 4px;
        font-weight: 600;
      }
      .text {
        display: flex;
        color: var(--color-2);
        justify-content: center;
        text-align: center;
        padding: 20px;
        font-size: 24px;
        font-weight: 600;
        align-items: center;
      }
      .horizontal_line {
        width: 100%;
        display: flex;

        svg {
          // warnna svg garis 2
          fill: var(--color-decoration-1);
        }
      }
      .horizontal_line:before,
      .horizontal_line:after {
        content: '';
        flex: 1;
        border-bottom: groove 2px var(--color-decoration-1);
        margin: auto 1rem;
      }
    }

    .button_box {
      height: 70px;
      width: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--color-1);
      border: none;
      border-radius: 50%;
      position: absolute;
      cursor: pointer;
      transition: 0.1s;
      bottom: calc(-70px / 2);
      box-shadow:
        2px 2px 0 var(--color-box-shadow-glow-1),
        0 0 16px 5px var(--color-box-shadow-glow-2),
        inset 1px 1px 0 var(--color-box-shadow-glow-3);
      animation: glow 2s infinite ease;

      .dice {
        padding: 20px;
        fill: var(--color-decoration-2);
      }
      .dice:active {
        animation: roll 1.3s infinite;
      }
    }

    .button_box:active {
      // transform: translateY(3px) translateX(2px);
      background-color: var(--color-decortaion-bg-active);
    }

    .button_box:before,
    .button_box:after {
      content: '';
      display: block;
      position: absolute;
    }
    .button_box:after {
      left: 0;
      width: 4px;
      height: 48px;
      z-index: 5;
      animation: sheen 5s infinite;
    }

    /* animates box shadow glow effect */
    @keyframes glow {
      0%,
      100% {
        box-shadow:
          1px 1px var(--color-box-shadow-glow-1),
          0 0 25px 6px var(--color-box-shadow-glow-2),
          inset 1px 1px var(--color-box-shadow-glow-3);
      }
      50% {
        box-shadow:
          1px 1px var(--color-box-shadow-glow-1),
          0 0 18px 12px var(--color-box-shadow-glow-2),
          inset 1px 1px var(--color-box-shadow-glow-1);
      }
    }
  }
}

@keyframes roll {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    transform: rotateX(720deg) rotateY(720deg) rotateZ(720deg);
  }
}

.rollAnimation:active {
  animation: roll 1s ease-in-out;
}
